@inherits Demo1WebPage<TestObject>
@using DotNetNuke.Abstractions.Users
@using Bring2mind.Demo2025Mvc.Demo1.Common
@using Bring2mind.Demo2025Mvc.Demo1.Models
@{
}

<h1>This is a test edit page</h1>

<div>
  <p>Edit the text below and click save to change your display name</p>
  <p>
    @Html.TextBoxFor(m => m.FirstString)
  </p>
  <p>
    @Html.TextBoxFor(m => m.SecondString)
  </p>
  <p>
    <button type="submit" id="btnSave" class="dnnPrimaryAction">Save</button>
  </p>
</div>

<div>
  <a href="@Url.Action("Index", "Home")">Go back to main page</a>
</div>

