@inherits Demo1WebPage<IUserInfo>
@using DotNetNuke.Abstractions.Users
@using Bring2mind.Demo2025Mvc.Demo1.Common
@{
}

<h1>Hello Detail Page</h1>

<p>Hi from @Model.DisplayName</p>

<a href="@Url.Action("Index", "Home")">Go back</a>
