@inherits Demo1WebPage<IUserInfo>
@using DotNetNuke.Abstractions.Users
@using Bring2mind.Demo2025Mvc.Demo1.Common
@{
}

<h1>The special bar page for demo 1 id @Dnn.ActiveModule.ModuleID</h1>

<div>
  <p>Edit the text below and click save to change your email address</p>
  <p>
    @Html.TextBoxFor(m => m.Email)
  </p>
  <p>
    <button type="submit" id="btnSave" class="dnnPrimaryAction">Save</button>
  </p>
</div>

<div>
  <a href="@Url.Action("Index", "Home")">Go back to main page</a>
</div>

