@inherits Demo2WebPage
@using Bring2mind.Demo2025Mvc.Demo2.Common
@{
  Demo2ModuleContext.AddModuleScript();
}

<h1>Hello Demo2 Module</h1>

<a href="@Url.Action("Index", "Foo", new { UserId = this.Dnn.User.UserID })">Go to detail page</a>
