@inherits Demo2WebPage<IUserInfo>
@using DotNetNuke.Abstractions.Users
@using Bring2mind.Demo2025Mvc.Demo2.Common
@{
}

<h1>Hello Detail 2 Page</h1>

<p>Hi from @Model.DisplayName</p>

<a href="@Url.Action("Index", "Home")">Go back</a>
