@inherits Demo2WebPage<IUserInfo>
@using DotNetNuke.Abstractions.Users
@using Bring2mind.Demo2025Mvc.Demo2.Common
@{
}

<h1>Hello Detail Page for @Model.DisplayName in DEMO 2 module with id @Dnn.ActiveModule.ModuleID</h1>

<div>
  <p>Edit the text below and click save to change your display name</p>
  <p>
    @Html.TextBoxFor(m => m.DisplayName)
  </p>
  <p>
    <button type="submit" id="btnSave" class="dnnPrimaryAction">Save</button>
  </p>
</div>

<div>
  <a href="@Url.Action("Index", "Home")">Go back to main page</a>
</div>

